<% if project.workers_available_to(current_user).any? %>
  <h3>Assign a worker to <%= project.name %>:</h3>
    <%= form_for [project, assignment] do |f| %>
      <%= f.collection_select :user_id, project.workers_available_to(current_user), :id, :name  %>
      <%= f.submit 'Assign worker', class: "btn btn-info btn-sm"  %>
    <% end %>
<% end %>

<% if project.assigned_subordinates(current_user).any? %>
  <h3>Remove a worker from <%= project.name %>:</h3>
    <%= form_for [project, assignment], method: 'delete' do |f| %>
      <%= f.collection_select :user_id, project.assigned_subordinates(current_user), :id, :name  %>
      <%= f.submit 'Remove worker', class: "btn btn-info btn-sm"  %>
    <% end %>
<% end %>
<br>
