<div class="user-display">
  <h3>Name: <%= link_to user.name, user_path(user) %></h3>
  <h4>Email: <%= user.email %></h4>
  <h4>Role: <%= user.role %></h4>

  <h5><%= user.pet_projects.count %> Projects owned by <%= user.name %></h5>
    <ul>
      <% user.pet_projects.each do |project| %>
        <li>
          <%= link_to project.name, project_path(project) %>
          <%= button_to "Quick View", project_path(project), method: :get, form_class: "project-quick-view" %>
        </li>
      <% end %>
    </ul>

  <h5><%= user.projects.count %> Projects assigned to <%= user.name %></h5>
    <ul>
      <% user.projects.each do |project| %>
      <li><%= link_to project.name, project_path(project) %></li>
      <% end %>
    </ul>
</div>
