<br> users/edit <br>

<h1>Edit <%= @user.name %></h1>

<% if !role_array.empty? %>
  <%= form_for @user do |f| %>
    <%= f.select :role, role_array %>
    <%= f.submit %>
  <% end %>
<% else %>
  <p>You are not authorized to update <%= @user.name %>'s role.</p>
<% end %>

<% if current_user.role_before_type_cast > @user.role_before_type_cast %>
  <%= button_to "Delete #{@user.name}", {:controller => :users, :action => 'destroy', :id => @user.id }, :method => :delete %>
<% end %>
