<br> users/show <br>

<h1>Name: <%= @user.name %></h1>
<h2>Email: <%= @user.email %></h2>
<h2>Role: <%= @user.role %></h2>

<h3>Projects started by <%= @user.name %>:</h3>
  <ul>
    <% @user.pet_projects.each do |project| %>
      <li><%= link_to project.name, project_path(project) %></li>
    <% end %>
  </ul>

<h3>Projects assigned to <%= @user.name %>:</h3>
  <ul>
    <% @user.projects.each do |project| %>
    <li><%= link_to project.name, project_path(project) %></li>
    <% end %>
  </ul>

<% if current_user.role_before_type_cast > @user.role_before_type_cast %>
  <%= link_to "Edit #{@user.name}", edit_user_path %>
<% end %>
