  <li>
    <p><%= note.content %></p>
    <p>Posted by <%= note.author.name %>
    <% if note.created_at > Time.now.beginning_of_day %>
      <%="#{time_ago_in_words(note.created_at)} ago"%>
    <% else %>
      on <%= note.created_at.strftime("%b %d, %Y") %>
    <% end %></p>

    <% if current_user.can_edit_project?(@project) || current_user == note.author %>
      <%= button_to 'Delete Note', delete_note_path(note.id), method: :delete %>
    <% end %>
  </li>
