<br> projects/index <br>

<h1>List of all projects:</h1>

<ul>
  <% @projects.each do |project| %>
    <li>
      <ul>
        <h2><%= link_to project.name, project_path(project) %></h2>
          <% if @user && @user == project.owner %>
            <li>You own this project!</li>
          <% else %>
            <li>Owner: <%= link_to project.owner.name, user_path(project.owner) %></li>
          <% end %>
          <li>Location: <%= project.location %></li>
          <li>Description: <%= project.description %></li>
          <li>Status: <%= project.status %></li>
      </ul>
    </li>
  <% end %>
</ul>
