<!-- <br> projects/show <br> -->

<div class="project-display">

  <%= render partial: 'projects/project', locals: {project: @project} %>

  <h4>Notes</h4>
  <ul><%= render partial: "note", collection: @project.notes if @project.notes.any? %></ul>

  <!-- post to project/:id/notes -->
<h4>Add a note: </h4>
  <%= form_for [@project, @note] do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.submit %>
  <% end %>

  <% subordinates = current_user.subordinates %>

  <% if subordinates.include?(@project.owner) || @project.owner == current_user %>
    <%= button_to "Edit this project", edit_project_path, method: 'get' %>
    <%= button_to 'Delete this project', @project, method: 'delete', data: { confirm: "Are you sure?" } %> <br>
  <% end %>

  <% available_subordinates = subordinates.reject {|subs| subs.projects.include?(@project)} %>
  <% available_subordinates.delete(@project.owner) if available_subordinates.include?(@project.owner) %>
  <% if available_subordinates.any? %>
    <h3>Assign a worker to <%= @project.name %>:</h3>
      <%= form_tag({controller: :assignments, action: :create}, method: 'post') do %>
        <%= hidden_field_tag :project_id, @project.id %>
        <%= collection_select :user, :user_id, available_subordinates, :id, :name %>
        <%= submit_tag 'Assign worker' %>
      <% end %>
  <% end %>

  <% assigned_subordinates = current_user.subordinates.select {|subs| subs.projects.include?(@project)}  %>
  <% if assigned_subordinates.any? %>
    <h3>Remove a worker from <%= @project.name %></h3>
    <%= form_tag({controller: :assignments, action: :destroy}, method: 'delete') do %>
      <%= hidden_field_tag :project_id, @project.id %>
      <%= collection_select :user, :user_id, assigned_subordinates, :id, :name %>
      <%= submit_tag 'Remove worker' %>
    <% end %>
  <% end %>
</div>
