<!-- <br> projects/show <br> -->

<div class="project-display">

  <%= render @project %>

  <h4>Notes</h4>
  <ul><%= render partial: "note", collection: @project.notes if @project.notes.any? %></ul>

  <!-- post to project/:id/notes -->
<h4>Add a note: </h4>
  <%= form_for [@project, @note] do |f| %>
    <%= f.label :content %>
    <%= f.text_area :content %>
    <%= f.submit %>
  <% end %>

  <% subordinates = current_user.subordinates %>

  <% if current_user.can_edit?(@project) %>
    <%= button_to "Edit this project", edit_project_path, method: 'get' %>
    <%= button_to 'Delete this project', @project, method: 'delete', data: { confirm: "Are you sure?" } %> <br>
  <% end %>

  <% if @project.workers_available_to(current_user) %>
    <h3>Assign a worker to <%= @project.name %>:</h3>
      <%= form_for [@project, @assignment] do |f| %>
        <%= f.collection_select :user_id, @project.workers_available_to(current_user), :id, :name  %>
        <%= f.submit 'Assign worker' %>
      <% end %>
  <% end %>

  <% if @project.assigned_subordinates(current_user) %>
    <h3>Remove a worker from <%= @project.name %>:</h3>
      <%= form_for [@project, @assignment], method: 'delete' do |f| %>
        <%= f.collection_select :user_id, @project.assigned_subordinates(current_user), :id, :name  %>
        <%= f.submit 'Remove worker' %>
      <% end %>
  <% end %>



</div>
