<br> projects/show <br>

<div class="project-display">

<h1><%= @project.name %></h1>
<ul>
  <li>Location: <%= @project.location %></li>
  <li>Description: <%= @project.description %></li>
  <li>Owner: <%= link_to @owner.name, user_path(@owner) %></li>
  <li>Status: <%= @project.status %></li>
  <ul>
    <h4>Workers assigned to this project:</h4>
    <% @project.workers.each do |worker| %>
    <li><%= link_to worker.name, user_path(worker) %></li>
    <% end %>
  </ul>
</ul>

<%= link_to 'Edit this project', edit_project_path %> <br>
<%= link_to 'Delete this project', @project, method: 'delete' %> <br>
<% subordinates = current_user.subordinates.reject {|sub| sub.projects.include?(@project)}  %>
<% if subordinates.any? %>
  <h3>Assign a worker to <%= @project.name %>:</h3>
    <%= form_tag({controller: :assignments, action: :create}, method: 'post') do %>
      <%= hidden_field_tag :project_id, @project.id %>
      <%= collection_select :user, :user_id, subordinates, :id, :name %>
      <%= submit_tag 'Assign' %>
    <% end %>
<% end %>
</div>
