<div class="project-display">

  <%= render @project %>

  <div class="project-details">

    <h3><%= @project.tools.any? ? "Tools" : "No tools" %></h3>
    <%= render partial: '/tools/tool', collection: @project.tools if @project.tools.any? %>

    <h4><%= @project.notes.any? ? "Notes" : "No notes" %></h4>

      <ul id="notes">
        <%= render partial: "note", collection: @project.notes if @project.notes.any? %>
      </ul>

      <%= render partial: 'new_note', locals: {project: @project, note: @note} if current_user.can_add_note_to?(@project)%>

    <% if current_user.can_edit_project?(@project) %>
      <%= render partial: 'assignments/assign_workers_to_project', locals: {project: @project, assignment: @assignment} %>
      <%= button_to "Edit this project", edit_project_path, method: 'get' %>
      <%= button_to 'Delete this project', @project, method: 'delete', data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>

<script id="note-template" type="text/x-handlebars-template">
  <div id=note-{{id}}>
    <li class="note-display" id=note-{{id}}>
      <p>{{content}}</p>
      <p>Posted by <%= current_user.name %> at {{created_at}}</p>

        <form class="delete-note" method="post" action="/notes/{{id}}">
          <input type="hidden" name="_method" value="delete">
          <input id="delete-note-{{id}}" type="submit" value="Delete Note">
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        </form>
    </li>
  </div>
</script>
