<br> projects/show <br>

<h1><%= @project.name %></h1>
<ul>
  <li>Location: <%= @project.location %></li>
  <li>Description: <%= @project.description %></li>
  <li>Owner: <%= link_to @owner.name, user_path(@owner) %></li>
  <li>Status: <%= @project.status %></li>
</ul>

<%= link_to 'Delete this project', @project, method: 'delete' %>
