<div class="project-display">

  <%= render @project %>

  <div class="project-details">

    <h3><%= @project.tools.any? ? "Tools" : "No tools" %></h3>
    <%= render partial: '/tools/tool', collection: @project.tools if @project.tools.any? %>

    <h4><%= @project.notes.any? ? "Notes" : "No notes" %></h4>

      <ul id="notes">
        <%= render partial: "note", collection: @project.notes if @project.notes.any? %>
      </ul>

      <%= render partial: 'new_note', locals: {project: @project, note: @note} if current_user.can_add_note_to?(@project)%>

    <% if current_user.can_edit_project?(@project) %>
      <%= render partial: 'assignments/assign_workers_to_project', locals: {project: @project, assignment: @assignment} %>
      <%= button_to "Edit this project", edit_project_path, method: 'get' %>
      <%= button_to 'Delete this project', @project, method: 'delete', data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>

<script id="note-template" type="text/x-handlebars-template">
  <p>Note content: {{content}}</p>
  <p>Note id: {{id}}</p>
  <p>Note project_id: {{project_id}}</p>
  <p>Note user_id: {{user_id}}</p>
</script>
