<!DOCTYPE html>
<html>
  <head>

    <title>RailsProjectManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <h1>Welcome to Rails Project Manager!</h1>

    <% if !flash.empty? %>
      <div class="flash container-fluid ">
        <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
        <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
        <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
      </div>
    <% end %>

    <div class="navbar">
      <span>
      <% if current_user %>
        <p>You are signed in as: <%= current_user.email %>. <%= link_to 'Log Out', logout_path, method: 'post' %></p>

        <%= link_to 'Your Profile', user_path(current_user) %>
        <%= link_to 'Your Projects', user_projects_path(current_user) %>
        <%= link_to 'Projects Index', projects_path %>
        <%= link_to 'New Project', new_user_project_path(current_user) %>
        <%= link_to 'Users Index', users_path %>
        <%= link_to 'Tools Index', tools_path %>
      <% elsif current_page?(controller: 'application', action: 'hello') %>
        <%= link_to 'Log In', login_path %> or <%= link_to 'Sign Up', new_user_path %> or <%= link_to 'Log In with Facebook', "/auth/facebook" %>
      <% elsif current_page?(controller: 'sessions', action: 'new') || current_page?(controller: 'sessions', action: 'create') %>
        <%= link_to 'Sign Up', new_user_path %><%= link_to 'Log In with Facebook', "/auth/facebook" %>
      <% else %>
        <%= link_to 'Log In', login_path %><%= link_to 'Log In with Facebook', "/auth/facebook" %>
      <% end %>
    </span>
    </div>

    <%= yield %>

    <!-- HANDLEBARS TEMPLATES -->

    <script id="project-template" type="text/x-handlebars-template">
      <div class="project-display">
        <ul>
          <h1>{{name}}</h1>
          <li>Location: {{location}}</li>
          <li>Description: {{description}}</li>
          <li>Owner: {{owner.name}}</li>
          <li>Due Date: {{due_date}}</li>
          <li>Status: {{status}}</li>
          <ul>
            <h6>---Workers:---</h6>
              {{#each workers}}
            <li>{{name}}</li>
              {{/each}}
          </ul>
          <ul>
            <h6>---Notes:---</h6>
              {{#each notes}}
            <li>{{content}}</li>
              {{/each}}
          </ul>
          <ul>
            <h6>---Tools:---</h6>
              {{#each tools}}
            <li>{{name}}</li>
              {{/each}}
          </ul>

        </ul>
        <%= button_to "X", projects_path, method: :get, id: "hide-{{id}}", class: "hide-proj" %>
      </div>

    </script>

    <script id="note-template" type="text/x-handlebars-template">
      <div id=note-{{id}}>
        <li class="note-display" id=note-{{id}}>
          <p>{{content}}</p>
          <p>Posted by <%= current_user.name if current_user %> at {{created_at}}</p>

            <form class="delete-note" method="post" action="/notes/{{id}}">
              <input type="hidden" name="_method" value="delete">
              <input id="delete-note-{{id}}" type="submit" value="Delete Note">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            </form>
        </li>
      </div>
    </script>

    <script id="user-template" type="text/x-handlebars-template">

      <h3>Name: <a href="/users/{{id}}">{{name}}</a></h3>
      <h4>Email: {{email}}/h4>
      <h4>Role: {{role}}</h4>

      <h5>1 Projects owned by {{name}}</h5>
        <ul>
            {{#each pet_projects}}
              <li>
                <a href="/projects/{{id}}">{{name}}</a>
                <div id="project-quick-view-{{id}}">
                  <form class="project-quick-view" method="get" action="/projects/{{id}}"><input type="submit" value="Quick View"></form>
                </div>
              </li>
            {{/each}}
        </ul>

      <h5>2 Projects assigned to {{name}}</h5>
        <ul>
          {{#each projects}}
            <li>
              <a href="/projects/{{id}}">{{name}}</a>
              <div id="project-quick-view-{{id}}">
                <form class="project-quick-view" method="get" action="/projects/{{id}}"><input type="submit" value="Quick View"></form>
              </div>
            </li>
          {{/each}}
        </ul>
    </script>
  </body>
</html>
