<!DOCTYPE html>
<html>
  <head>

    <!-- <div class="development">

    <p>Params: <%= params.inspect %></p>
    <p>current_user - <%= current_user.nil? ? "No user in session" : current_user.name %></p>
    <p>flash - <%= flash.inspect %></p>
    <p>@user - <%= @user.inspect if @user %></p>
    <p>@users - <%= @users.inspect if @users %></p>
    <p>@project - <%= @project.inspect if @project %></p>
    <p>@projects - <%= @projects.inspect if @projects %></p>

  </div> -->

    <title>RailsProjectManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <h1>Welcome to Rails Project Manager!</h1>

    <% if !flash.empty? %>
      <div class="flash container-fluid ">
        <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
        <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>
        <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
      </div>
    <% end %>

    <div class="navbar">
      <span>
      <% if current_user %>
        <p>You are signed in as: <%= current_user.email %>. <%= link_to 'Log Out', logout_path, method: 'post' %></p>
        <%= link_to 'Projects Index', projects_path %>
        <%= link_to 'New Project', new_project_path %>
        <%= link_to 'Users Index', users_path %>
      <% elsif current_page?(controller: 'application', action: 'hello') %>
        <%= link_to 'Log In', login_path %> or <%= link_to 'Sign Up', new_user_path %>
      <% elsif current_page?(controller: 'sessions', action: 'new') || current_page?(controller: 'sessions', action: 'create') %>
        <%= link_to 'Sign Up', new_user_path %>
      <% else %>
        <%= link_to 'Log In', login_path %>
      <% end %>
    </span>
    </div>

    <%= yield %>
  </body>
</html>
